<h1 class="mt-5">Add Product</h1>
<hr />

<form [formGroup]="myForm">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label for="name" class="col-form-label">Name</label>
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" formControlName="name" />
    </div>
    <div class="col-auto">
      <span
        error-msg
        [color]="color"
        [userName]="userName"
        [valid]="!hasError('name')"
      >
        {{"This field is required, " + userName}}
      </span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary" (click)="changeName()">
        Chnage Name
      </button>
      <button class="btn btn-primary mx-3" (click)="changeColor()">
        Change Color
      </button>
    </div>
  </div>
</form>

<h3 class="mt-5">Form</h3>
<pre>Value: {{ myForm.value | json}}</pre>
<pre>Valid: {{ myForm.valid | json}}</pre>

<div class="row mt-5" *myCustomIf="myForm.valid">
  <div class="col">
    <div class="alert alert-primary">
      All OK!
    </div>
  </div>
</div>
